# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
fastapienv/
.env/
.venv/

# Environment variables
.env

# Pytest
.cache/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# MyPy and coverage
.mypy_cache/
coverage.*
htmlcov/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
